@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Lustria&family=Pacifico&display=swap");

:root {
  /*** Main Colors ***/
  ---color-principal-neutral: #f2e497;
  ---color-principal-dark: #ecd86a;
  ---color-principal-light: #f8f0c4;

  ---color-secondary-neutral: #2c2c2c;
  ---color-secondary-dark: #121212;
  ---color-secondary-light: #454545;

  ---color-accent1-neutral: #ff7043;
  ---color-accent1-dark: #ff4910;
  ---color-accent1-light: #ff9776;

  ---color-extra2-neutral: #6aec97;
  ---color-extra2-dark: #53e987;
  ---color-extra2-light: #81efa7;

  ---color-white: #ffff;
  ---color-white-dark: #f2f2f2;

  /** General **/
  --spacer: 1em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(---color-secondary-neutral);
  color: var(---color-principal-neutral);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5em;
  font-family: Lustria, sans-serif;
}

main {
  margin: 3em 0;
}

.container {
  margin-bottom: 2em;
}

figure {
  margin: 1.5em;
}

.coloryellowlight {
  color: var(---color-accent1-light) !important;
}

.coloryellowlight:hover {
  color: var(---color-principal-neural) !important;
}

h1 {
  font-family: Pacifico, sans-serif;
  color: #2c2c2c;
  font-size: 3em;
  text-shadow: 0 0 1em rgb(255, 239, 193);
}

h2,
h3 {
  font-family: Pacifico, sans-serif;
  color: var(---color-principal-neural);
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: var(---color-principal-neural);
  font-family: Lustria, sans-serif;
  font-size: 1.5em;
}

a:hover {
  color: var(---color-principal-neural);
}

figure a:hover {
  color: var(---color-accent1-dark) !important;
}

input {
  font-family: Lustria, sans-serif;
}

.navbar-brand img {
  width: 50%;
}

li {
  list-style: none;
}

.navbar-footer ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#hero-image {
  height: 15em;
  background-image: url(../images/heroimage-main.jpg);
  text-align: center;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

section#recomendation-sales-container {
  display: flex;
  flex-direction: row;
}

footer {
  background-color: #212529;
  width: 100%;
}

footer a,
#book-list .card a,
#book-info .card a {
  font-size: 1em;
}

#book-list {
  width: 80%;
}

@media screen and (max-width: 1170px) {
  section#recomendation-sales-container {
    flex-direction: column;
  }
}

/* RESULTAT CERCA */

#book-list,
#book-info .llibres-recomanats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#book-list .card,
#book-info .card {
  margin: 2em;
}

.card-body a.book-link:hover {
  color: var(---color-accent1-dark) !important;
}

.card-body button.primary {
  padding: 0.4em;
  margin: 1em 0;
}

/* DETALL */

button.primary {
  border-radius: 0.5em;
  background: #ff7043;
  border-color: #ff7043;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  padding: 1em;
  color: #ffffff;
}

button.primary:hover {
  background: #ff4910;
  border-color: #ff4910;
  box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

#info-llibre {
  display: flex;
  justify-content: center;
  align-items: center;
}

#info-llibre button {
  padding: 1em;
  margin: 1em;
}

#info-llibre div {
  margin: 1em 2em;
}

/* FORMULARIS */

.formulari {
  display: flex;
  text-align: start;
}

.formulari main button {
  justify-content: center;
}

a.navbar-brand {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
}

.column-left,
.column-right {
  width: 30em;
}

div.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  margin: 1em 0;
}

@media screen and (max-width: 1050px) {
  form {
    flex-direction: column;
  }
}
